
.container-sound {
  display: flex;
}

.additions-icon_play {
  width: 24px;
  height: 24px;
  background: url('/src/assets/icons/play.svg');
  cursor: pointer;
}

.additions-icon_stop {
  display: none;
  width: 24px;
  height: 24px;
  background: url('/src/assets/icons/stop.svg');
  cursor: pointer;
}

.additions-icon_text {
  margin: 0 0 0 12px;
  font-family: 'Futura';
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.07em;
  color: rgba(113, 124, 150, 0.7);
  /* border: 1px solid red; */
}