.wrapper-grid {
  display: flex;
  user-select: none;
  cursor: pointer;
}

.my-grid_wrapper, .enemy-grid_wrapper  {
  display: grid;
  grid-template-columns: 1fr  ;
  grid-template-rows:  35px  350px  35px ;
  grid-template-areas:
    "letters"
    "game-grid"
    "numbers";
  /* border: 1px solid orange;   */

}

.enemy-grid_wrapper  {
  display: none;
  
}

.my-grid, .enemy-grid   {
  display: grid;
  grid-area: game-grid;
  grid-template-columns: repeat(10, 60px);
  grid-column-start: 2;
  /* border: 1px solid red; */
}


.lettersTop {
  grid-area: letters;
  grid-column-start: 2;
  display: flex;
  justify-content: space-around;
  /* background-color: pink; */
}

.lettersTop p {
  font-family: 'Futura';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 0px;
  letter-spacing: 0.05em;
  color: rgba(113, 124, 150, 0.7);
  text-transform: uppercase;
}

.numbersLeft {
  grid-area: numbers;
  grid-row-start: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 350px;
  /* background-color: #bada55; */
}

.numbersLeft p {
  font-family: 'Futura';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 0px;
  letter-spacing: 0.05em;
  color: rgba(113, 124, 150, 0.7);
  margin: 0;
  padding: 0;
}

/* Ships */
.square {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #61C6FF;
  border: 1.38636px solid #FFFFFF;
  border-radius: 6px;
}

.active {
  background-color: rgb(68, 64, 68);
}

.square-miss {
  background: rgb(0, 0, 97);
}

.ship-is-installed {
    background: rgb(242, 151, 245);
}

.square-injured {
  outline: 1px solid rgb(233, 88, 88);
}

.error {
  background-color: red;

}

.safeZone {
  background: url('/src/assets/icons/safeZone.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #61C6FF;
}


.frozenGrid {
  position: absolute;
  display: none;
  background-color: rgba(235, 13, 13, 0.473);
  z-index: 999;
  border: 1px solid rgba(235, 13, 13, 0.473);
  border-radius: 6px;

}



/* animation */
.square-fire-animation {
  background: url('/src/assets/animations/smoke.gif');
  background-size: 60px 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.square-hit-animation {
  background: url('/src/assets/animations/explosion.gif');
  background-size: 60px 60px;
  background-repeat: no-repeat;
  background-position: center;
}

.square-miss-animation {
  background: url('/src/assets/animations/spray.gif');
  background-size: 60px 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.square-killed {
  background: url('/src/assets/animations/fire.gif');
  background-size: 60px 70px;
  background-repeat: no-repeat;
  background-position: center;

}
