.wrapper-pier{
  width: 200px;
  font-family: 'Futura';
  font-style: normal;
  font-size: 18px;
  letter-spacing: 0.05em;
  color: rgba(113, 124, 150, 0.7);
  border-radius: 6px;
  border: 1px solid #61C6FF;
}