
.toast-wrapper {
  position: absolute;
  width: auto;
  max-height: 40px;
  border-radius: 6px;
  overflow: auto;
}

.toast_text {
  animation: fadeOut ease 3.5s;
  -webkit-animation: fadeOut ease 3.5s;
  -moz-animation: fadeOut ease 3.5s;
  -o-animation: fadeOut ease 3.5s;
  -ms-animation: fadeOut ease 3.5s;
}

.toast-wrapper::-webkit-scrollbar {
  width: 0;
}



@keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
}

