.wrapper-grid {
  display: flex;
  border: 1px solid red;
}

.my-grid  {
  display: grid;
  grid-template-columns: 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px;
}

.enemy-grid {
  display: grid;
  grid-template-columns: 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px;
  margin: 0 0 0 50px;
}

.square {
  height: 40px;
  border: 1px solid white;
}

.active {
  background-color: red;
}

.shot {
  background-color: blue;
}