@media (max-width: 1366px) {

/* GAME GRID */
.my-grid_wrapper, .enemy-grid_wrapper  {
  grid-template-rows:  35px  auto  auto ;
}

  .my-grid, .enemy-grid   {
    grid-auto-rows: 30px;

  }


.numbersLeft p {
  font-family: 'Futura';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 0px;
  letter-spacing: 0.05em;
  color: rgba(113, 124, 150, 0.7);
  margin: 0;
  padding: 0;
}


.lettersTop p {
  font-family: 'Futura';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 0px;
  letter-spacing: 0.05em;
  color: rgba(113, 124, 150, 0.7);
  text-transform: uppercase;
}


}