@media (max-width: 1366px) {
  .my-grid, .enemy-grid   {
    /* display: grid;
    grid-template-columns: repeat(10, 50px); */
    grid-auto-rows: 30px;
    /* width: 600px; */
    /* height: 10px; */
    /* margin: 0 0 0 30px; */
    /* border: 1px solid red; */
  }


.numbersLeft {
  /* grid-area: numbers;
  grid-row-start: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around; */
  height: 300px;
  /* background-color: #bada55; */
}

.numbersLeft p {
  font-family: 'Futura';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 0px;
  letter-spacing: 0.05em;
  color: rgba(113, 124, 150, 0.7);
  margin: 0;
  padding: 0;
}

.lettersTop {
  /* grid-area: letters;
  grid-column-start: 2;
  display: flex;
  justify-content: space-around;
  background-color: pink; */
}

.lettersTop p {
  font-family: 'Futura';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 0px;
  letter-spacing: 0.05em;
  color: rgba(113, 124, 150, 0.7);
  text-transform: uppercase;

}


}